{% from "helpers/form_helpers.html" import render_field %}
{% extends "layout.html" %}

{% block content %}

<form action="/users/add" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ render_field(form.name) }}
    {{ render_field(form.sex) }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.user_image) }}
    <button class="btn waves-effect waves-light" type="submit" name="action">Go
        <i class="material-icons right">send</i>
    </button>
</form>

{% endblock %}
